* {
    box-sizing: border-box;
}

header,
section,
form,
footer {
    padding: 0 1rem;
}

.title:after {
    content: "The Code Review";
}

header {
    background-color: #2E3A46;
    color: white;
}

legend {
    display: block;
}

header,
section,
footer {
    text-align: center;
}

#profile {
    display: flex;
    flex-direction: row;
}

.profile-view label,
.profile-view input,
.profile-view select {
    display: block;
    margin-bottom: 1rem;
    width: 100%;
}

#newsletter textarea {
    width: 100%;
}

button {
    width: 100%;
    background-color: #4ebbb5;
    color: white;
    font-size: 1.2rem;
    margin: 1rem 0;
    transition-duration: 1s;
}

button:hover {
    cursor: pointer;
    background-color: #105372;
    border: 1px solid #2E3A46;
    border-radius: 5px;
    box-shadow: 0 0 10px #719ECE;
}

.newsletter-view {
    display: block;
}

#newsletter > label,
.newsletter-view {
    margin-bottom: 1rem;
}

.weight {
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1.5rem 0;
}

h1 {
    text-transform: uppercase;
}

section p {
    margin-bottom: 3rem;
}

hr {
    border: none;
    width: 100%;
    background-color: #2E3A46;
}

hr.thin {
    height: 3px;
    margin-top: 2px;
}

hr.thick {
    height: 5px;
    margin: 0;
}

.fade,
input::placeholder,
select {
    color: #b3b8bb;
}

option {
    color: #2E3A46;
}

/* Profile Styling */
input,
select,
textarea {
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"],
button,
select {
    height: 3rem;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"],
button,
select,
textarea {
    border-radius: 5px;
    border: none;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"],
textarea,
select {
    background-color: #eff0f1;
    padding-left: 1rem;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {
    outline: none;
    border: 1px solid #2E3A46;
    border-radius: 5px;
    box-shadow: 0 0 10px #719ECE;
}

/* input[type="checkbox"]:checked,
input[type="radio"]:checked {
    background-color: #4ebbb5;
    color: white;
} */

input::placeholder {
    text-align: right;
    font-style: italic;
    font-size: 0.7rem;
    padding-right: 1rem;
}

#newsletter > label {
    display: block;
    margin-bottom: 1rem;
}

#user_zip {
    width: 180px;
}

footer {
    margin: 1rem 0 10rem 0;
    font-style: italic;
}

@media (min-width: 729px) {
    body section,
    body form,
    body hr {
        max-width: 728px;
        margin: auto;
    }
    
    body header {
        max-width: 100%;
    }

    form {
        padding: 0;
    }

    #profile,
    .profile-view {
        display: flex;
        align-items: center;
    }

    hr {
        border: none;
        height: 5px;
        width: 100%;
    }
    
    .profile-view label,
    .profile-view input,
    .profile-view select {
        margin-bottom: 0;
    }
    
    .profile-view {
        margin-bottom: 1.5rem;
    }
    
    .profile-view label {
        max-width: 200px;
    }
}