header,
section,
form,
footer {
    padding: 0 1rem;
}

body,
header,
#profile {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.title:after {
    content: "The Code Review";
}

header,
section,
footer {
    text-align: center;
}

header {
    background-color: #2E3A46;
    color: white;
}

section {
    margin: 1rem 0;
}

.weight {
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1.5rem 0;
}

h1 {
    text-transform: uppercase;
}

hr {
    width: 90%;
    color: 20px solid #2E3A46;
}

fieldset {
    /* border-top: 2rem solid darkgray; */
}

label,
input,
select,
textarea,
button {
    margin: 1rem 0;
    width: 100%;
}

/* Profile Styling */
input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"],
button {
    height: 3rem;
    border-radius: 5px;
    box-shadow: none;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"],
textarea,
select {
    background-color: #eff0f1;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {
    border-color: #46698b;
    border-radius: 5px;
    padding-right: -3rem;
}

#profile > select {
    height: 3.5rem;
    border-radius: 5px;
}

input::placeholder {
    text-align: right;
    font-style: italic;
    font-size: 0.7rem;
    padding-right: 1rem;
}

/* Newsletter Styling */
/* #newsletter {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
} */

/* #newsletter > input,
#newsletter > label {
    display: inline;
    flex-grow: 1;
    flex-basis: 100px;
    justify-content: space-between;
} */

button {
    background-color: #4ebbb5;
    color: white;
    font-size: 1.2rem;
    margin: 1rem 0;
}

footer {
    margin: 1rem 0 10rem 0;
    font-style: italic;
}

@media (min-width: 729px) {
    body {
        max-width: 728px;
        margin: auto;
    }

    label, input {
        display: inline-block;
        width: unset;
        margin-bottom: 0;
    }
}